<!doctype html>
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
          <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">{% block title %}Home{% endblock %}</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
            {% block picture %} 
            {% if picture is defined and picture %}<img class="mdl-navigation__img" src={{ picture }}  height="60"></img>{% endif %}{% endblock %}    

            </nav>
          </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title"> Stepmaster </span>
            <nav class="mdl-navigation">
              <a class="mdl-navigation__link" href="/steps">Steps</a>
              <a class="mdl-navigation__link" href="/heart">Heart</a>
              <a class="mdl-navigation__link" href="/power">Power</a>
              <a class="mdl-navigation__link" href="/policy">Policy</a>
              <a class="mdl-navigation__link" href="/changelog">Changelog</a>
              
              <a class="mdl-navigation__link" href="/login">login</a>
            </br>
            </br>
            <a class="mdl-navigation__link" href="/logout">logout</a>
            <a class="mdl-navigation__link" href="https://myaccount.google.com/permissions">Revoke</a>
            </nav>
          </div>
        <main class="mdl-layout__content">
          <div class="page-content">
        {% block content %} {% endblock %}
      </div>
        </main>
      </div>
      </body>
      </html>