{% extends "base.html" %} {% block title %} Heart {% endblock %}
{% block content %} 
<br/>
<table>
  <tr>
    <td><canvas id="daily" width="500" height="500"></canvas></td>
    <td><canvas id="weekly" width="500" height="500"></canvas></td>
  </tr>
</table>
<script>
const ctx = document.getElementById('daily');
const daily = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [
        {% for k, v in heartdaily.items() %}'{{ k }}',{% endfor %}
        ],
        datasets: [{
          label: ["Total hearts today"],
            data: [
              {% for k, v in heartdaily.items() %}{{ v }},{% endfor %}
            ],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive: false,
        indexAxis: 'y'
    }
});
</script>
<script>
const ctx2 = document.getElementById('weekly');
const weekly = new Chart(ctx2, {
    type: 'bar',
    data: {

        labels: [
        {% for k, v in heartweekly.items() %}'{{ k }}',{% endfor %}
        ],
        datasets: [{
          label: ["Total hearts weekly (from sunday, 12:00)"],
            data: [
              {% for k, v in heartweekly.items() %}{{ v }},{% endfor %}
            ],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive: false
    }
});
</script>



{% endblock %}