<!doctype html>
<head>
<title>Stepmaster</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Hi, {{name}}</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <img class="mdl-navigation__img" src= {{ picture }}  height="60"></img>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Stepmaster</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="/logout">Logout</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
      <br/>
      <table>
        <tr>
          <td><canvas id="daily" width="500" height="500"></canvas></td>
          <td><canvas id="weekly" width="500" height="500"></canvas></td>
        </tr>
      </table>
      <script>
      const ctx = document.getElementById('daily');
      const daily = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: [
              {% for k, v in stepsdaily.items() %}'{{ k }}',{% endfor %}
              ],
              datasets: [{
                label: ["Total steps today"],
                  data: [
                    {% for k, v in stepsdaily.items() %}{{ v }},{% endfor %}
                  ],
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              responsive: false,
              indexAxis: 'y'
          }
      });
      </script>
      <script>
      const ctx2 = document.getElementById('weekly');
      const weekly = new Chart(ctx2, {
          type: 'bar',
          data: {
      
              labels: [
              {% for k, v in stepsweekly.items() %}'{{ k }}',{% endfor %}
              ],
              datasets: [{
                label: ["Total steps weekly (from sunday, 12:00)"],
                  data: [
                    {% for k, v in stepsweekly.items() %}{{ v }},{% endfor %}
                  ],
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              responsive: false
          }
      });
      </script>
      
      <!-- Your content goes here --></div>
  </main>
</div>
</body>
</html>